*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
body{
  font-family: montserrat;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(image/bg1.jpg); 
  background-attachment: fixed;
  background-position: center;
}
nav{
  height: 90%;
  width: 100%;
  background: #34495e;
}
label.logo{
  font-size: 30px;
  font-weight: bold;
  padding: -5 50px;
  line-height: 80px;
  color: white;
}
nav ul{
  float: right;
  margin-right: 40px;
}
nav li{
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a{
  color: white;
  font-size: 18px;
  padding: 7px 10px;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid transparent;
}
a.active,a:hover{
  transition: .5s;
  border: 1px solid white;
}
nav #icon{
  color: white;
  font-size: 30px;
  float: right;
  margin-right: 40px;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
@media (max-width: 1048px){
  label.logo{
    font-size: 32px;
    padding-left: 60px;
  }
  nav ul{
    margin-right: 20px;
  }
  nav a{
    font-size: 17px;
  }
}
@media (max-width: 909px){
  nav #icon{
    display: block;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2f3640;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav a{
    font-size: 20px;
  }
  a.active,a:hover{
    border: none;
    color: #3498db;
  }
  nav ul.active{
    left: 0;
  }
}
section{
  background: url(PKBK.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

h1{
  float: left;
  color: yellow;
  padding:15px;
  margin: 10px;
}

h2,h3,a{
  background-color: transparent;
  color: white;
  
}
h4{
  float: right;
  color: white;
}

img{
  padding:10px;
  margin: 0px;
}

img:hover
{
  background-image: url(image/bg2.jpg);
}